.movieSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.movieSearchArea {
  background-color: transparent;
  padding: 8px;
}

.movieSearchArea .movieSearchHeader h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchHeader h1 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchHeader h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchHeader h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchHeader h1 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchHeader h1 {
    font-size: 1rem;
  }
}

.movieSearchArea .movieSearchHeader p {
  font-size: 1.3rem;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchHeader p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchHeader p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchHeader p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchHeader p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchHeader p {
    font-size: 0.8rem;
  }
}

.movieSearchArea .movieSearchForm {
  background-color: #eee;
  padding: 1.5rem 2rem;
  transition: all 0.4s;
  border: 2px solid #cccccc;
  border-radius: 9px;
  margin: 10px auto;
  min-width: 521px;
}

@media screen and (max-width: 640px) {
  .movieSearchArea .movieSearchForm {
    min-width: 375px;
  }
}

@media screen and (max-width: 440px) {
  .movieSearchArea .movieSearchForm {
    min-width: 250px;
  }
}

@media screen and (max-width: 370px) {
  .movieSearchArea .movieSearchForm {
    min-width: 120px;
  }
}

.movieSearchArea .movieSearchForm label {
  cursor: pointer;
  color: #171717;
  font-size: 1.3rem;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchForm label {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchForm label {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchForm label {
    font-size: 1rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchForm label {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchForm label {
    font-size: 0.8rem;
  }
}

.movieSearchArea .movieSearchForm .searchQuery div {
  position: relative;
}

.movieSearchArea .movieSearchForm .searchQuery div i {
  position: absolute;
  top: 50%;
  color: #6e6e6e;
  transform: translate(50%, -50%);
  background-color: transparent;
}

.movieSearchArea .movieSearchForm .searchQuery div input {
  border-radius: 0;
  padding-left: 1.7rem;
  color: #171717;
}

.movieSearchArea .movieSearchForm .buttons {
  display: flex;
  justify-content: flex-end;
}

.movieSearchArea .movieSearchForm .buttons button.formSubmit {
  background-color: #50b83c;
  color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 2px #6e6e6e;
  border-radius: 30px;
  padding: 6px 12px;
  margin: 0 2px;
  font-size: 1.2rem;
}

.movieSearchArea .movieSearchForm .buttons button.formSubmit:hover {
  background-color: #358d24;
}

.movieSearchArea .movieSearchForm .buttons button.formSubmit:focus {
  background-color: #358d24;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchForm .buttons button.formSubmit {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchForm .buttons button.formSubmit {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchForm .buttons button.formSubmit {
    font-size: 1rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchForm .buttons button.formSubmit {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchForm .buttons button.formSubmit {
    font-size: 0.8rem;
  }
}

.movieSearchArea .movieSearchForm .buttons button.formClear {
  background-color: #eee;
  color: #50b83c;
  font-weight: bold;
  text-shadow: 1px 1px 2px #eee;
  border-radius: 30px;
  padding: 6px 12px;
  margin: 0 2px;
  font-size: 1.2rem;
}

.movieSearchArea .movieSearchForm .buttons button.formClear:hover {
  background-color: #50b83c;
  color: #eee;
  text-shadow: 1px 1px 2px #6e6e6e;
}

.movieSearchArea .movieSearchForm .buttons button.formClear:active {
  background-color: #358d24;
  color: #eee;
  text-shadow: 1px 1px 2px #6e6e6e;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchForm .buttons button.formClear {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchForm .buttons button.formClear {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchForm .buttons button.formClear {
    font-size: 1rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchForm .buttons button.formClear {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchForm .buttons button.formClear {
    font-size: 0.8rem;
  }
}

.movieSearchArea .movieSearchResults {
  padding: 1.5rem 2rem;
  min-width: 521px;
  transition: all 0.4s;
  border: 2px solid #cccccc;
  border-radius: 9px;
  margin: 10px auto;
  margin-top: 0;
  min-width: 521px;
}

@media screen and (max-width: 640px) {
  .movieSearchArea .movieSearchResults {
    min-width: 375px;
  }
}

@media screen and (max-width: 440px) {
  .movieSearchArea .movieSearchResults {
    min-width: 250px;
  }
}

@media screen and (max-width: 370px) {
  .movieSearchArea .movieSearchResults {
    min-width: 120px;
  }
}

.movieSearchArea .movieSearchResults h4 {
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchResults h4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchResults h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchResults h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchResults h4 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchResults h4 {
    font-size: 1rem;
  }
}

.movieSearchArea .movieSearchResults p {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchResults p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchResults p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchResults p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchResults p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchResults p {
    font-size: 0.8rem;
  }
}

.movieSearchArea .movieSearchResults ul li {
  list-style-type: none;
}

.movieSearchArea .movieSearchResults ul li a {
  font-size: 1rem;
  color: #171717;
}

@media screen and (max-width: 992px) {
  .movieSearchArea .movieSearchResults ul li a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .movieSearchArea .movieSearchResults ul li a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 525px) {
  .movieSearchArea .movieSearchResults ul li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 458px) {
  .movieSearchArea .movieSearchResults ul li a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .movieSearchArea .movieSearchResults ul li a {
    font-size: 0.8rem;
  }
}
