//colors
$white: #eee;
$background: #ddd;
$black: #171717;
$gray: #665;
$dark_gray: #635d5d;
$blue: #4563b6;
$red: #e21b1b;
$green: #50b83c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $background;
}
